/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2015, 05:14:09 PM
    Author     : jhonbarranco
*/

@import "fontello-a8e49f75/css/fontello.css";

.icon:before {
  display: inline-block;
  font-family: 'Entypo';
  text-decoration: none;
  speak: none;
}

.email:before {
  content: '\e813';
}